<form action="login" method="POST" class="form" id="form-1">
    <h3 class="heading">Log in</h3>
    <p class="desc"> Thiên nhiên và sách thuộc về những đôi mắt đã thấy chúng.</p>
    <div class="spacer"></div>

    <div class="form-group">
      <label for="email" class="form-label">Email/Username</label>
      <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control"
        value="{{csrf}}">
      <span class="form-message"></span>
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
      <span class="form-message"></span>
    </div>
    </form>